/* menu responsivo com flexbox */

/*select*/

.imagem {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
  height: auto;
}

.texto2 {
	font-family: verdana;
	font-size: 20px;
	padding-left: 10px;
	text-indent: 30px;
}

.texto {
	font-family: verdana;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.colorbackground {
	background-color: #eee;
}

* {
	margin: 0;
	padding: 0;
}

.menu ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 90%;

}

.menu ul li a {
	padding: 20px;
	display: block;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font:20px verdana;
}

nav {
	background-color: #563d7c;
}

@media (max-width: 600px) {
	nav ul {
			justify-content: space-between;
	}
}

@media (max-width: 480px) {
	nav ul {
			flex-direction: column;
			align-items: center;
	}
}

.footer {
	text-align: center;
	font-size: 15px;
	font-family: verdana;
}
